<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Pawsitive Pet</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="..//assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a
            href="mailto:contact@example.com">contact@example.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>The Pawsitive Pet<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#Blogs">Blogs</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#pets">Adopt Pets</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>The Pawsitive <span>Pet</span></h2>
          <p>New best friend alert! Come meet your purr-fect match at our pet adoption center. Give a rescue a second
            chance at happiness.
          </p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#pricing" class="btn-get-started">Donate Now</a>
            <a href="https://www.youtube.com/watch?v=B8_P7Oznm18"
              class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
                Video
              </span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-magnifying-glass-location"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Find Pets</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fa-regular fa-handshake"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Deal with the owner</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-dog"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Get the pet you need</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-shield-cat"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Create Love</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Our mission is to connect loving pet owners with abandoned and rescued animals in need of a home. We
            believe that every pet deserves a second chance at happiness and we work tirelessly to make that happen.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>Welcome to our pet adoption website!</h3>
            <img src="assets/img/about-2.jpg" class="img-fluid rounded-4 mb-4 w-100" alt="">
            <p>Our team is made up of animal lovers who are dedicated to finding the best possible match for each and
              every pet in our care. We take the time to get to know each animal and their unique personality, so we can
              help them find the right home.</p>
            <p>We are committed to the well-being of all of the animals in our care and strive to provide them with the
              love and attention they deserve while they wait for their forever homes.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Thank you for considering adoption. By choosing to adopt a pet, you are not only giving a deserving
                animal a second
                chance, but you are also making a positive impact on your community and the world.
              </p>
              <p>
                Thank you for visiting our website and we hope you find your perfect furry friend.
              </p>

              <div class="position-relative mt-4">
                <img src="assets/img/about.jpeg" class="img-fluid rounded-4 w-100" alt="">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/clients/client-1.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-2.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-3.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-4.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-5.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-6.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-7.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-8.jpeg" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">

          <div class="col-lg-6">
            <img src="assets/img/stats-img.svg" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="400" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Number</strong> of Donators per month</p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Number</strong> of Pets adopted per year</p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="1153" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Number</strong> of animals rescued per year</p>
            </div><!-- End Stats Item -->

          </div>

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Call To Rescue Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <a href="https://www.youtube.com/watch?v=CH8a-YM1__U" class="glightbox play-btn"></a>
        <h3>Call To Rescue</h3>
        <p> Help us give stray animal the love and care they deserve: if you come across one, don't hesitate to inform
          us.
          Together, we can make a difference for these deserving animals.
        </p>
        <a class="cta-btn" href="#">Call To Rescue</h3></a>
      </div>
    </section><!-- End Call To Rescue Section -->

    <!-- ======= Blog Section ======= -->
    <section id="Blogs" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Blog</h2>
          <p>Just give a small read to our blogs section</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <img src="/public/assets/img/Blog-1.jpeg" class="mb-4" width="100px" height="100px"></img>
              <h3>Adoption vs Breeding</h3>
              <p>When it comes to adding a new furry friend to your family, you have a choice to make: adoption or
                breeding? In this blog, we explore the pros and cons of both options and help you decide which is the
                right fit for you ?</p>
              <a href="https://www.dogspot.in/dog-blog/adoption-vs-breeding/" class="readmore stretched-link">Read more
                <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <img src="/public/assets/img/Blog-2.jpeg" class="mb-4 fill-light" width="100px" height="100px"></img>
              <h3>Adoption Guide</h3>
              <p>Are you thinking about adding a new furry friend to your family? Look no further! This ultimate guide
                to pet adoption will give you all the information you need to make an informed decision and bring home
                the perfect pet.</p>
              <a href="https://www.zumalka.com/blogs/blog-pet-health/81086084-the-ultimate-guide-to-pet-adoption-sneak-preview"
                class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <img src="/public/assets/img/Blog-4.jpeg" class="mb-4" width="100px" height="100px"></img>
              <h3>Saving Hurricane Ian's Pets</h3>
              <p>"Hurricane Ian caused widespread destruction, but thanks to the efforts of animal lovers like you, many
                pets were able to find safe harbor and a new chance at life. Read on to learn more about their journey.
              </p>
              <a href="https://bestfriends.org/stories/julie-castle-blog/safe-harbor-pets-path-hurricane-ian"
                class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <img src="/public/assets/img/Blog-3.jpeg" class="mb-4" width="100px" height="100px"></img>
              <h3>Overcoming Lifesaving Setbacks</h3>
              <p>Setbacks are a normal part of the lifesaving journey, but that doesn't make them any less difficult.
                Learn how to overcome setbacks and stay motivated in your efforts to save lives.</p>
              <a href="https://bestfriends.org/stories/julie-castle-blog/setback-lifesaving-and-what-it-means"
                class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <img src="/public/assets/img/Blog-5.jpeg" class="mb-4" width="100px" height="100px"></img>
              <h3>Winterizing Your Cat's Paws</h3>
              <p>Don't let the winter weather rough up your feline friend's paws! Here's how to protect and care for
                your cat's paws during the cold months.</p>
              <a href="https://blog.theanimalrescuesite.greatergood.com/cats-paws-winter/"
                class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <img src="/public/assets/img/Blog-6.jpeg" class="mb-4" width="100px" height="100px"></img>
              <h3>Owl Leg Injuries</h3>
              <p>Discover the causes and treatments for owl leg injuries, and how you can help prevent them from
                happening in the first place.</p>
              <a href="https://www.petrescueblog.com/blog/owl-legs/" class="readmore stretched-link">Read more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Give a look at what other people think about us</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Saul Goodman</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    We adopted our dog from your organization and he has brought so much joy to our family. He is so
                    well-behaved and loving, and we can't imagine life without him now. Thank you for all the work you
                    do
                    to help animals find their forever homes.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Sara Wilsson</h3>
                      <h4>Designer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    We adopted our cat from your organization a few months ago and it was the best decision we ever
                    made.
                    She has fit into our family perfectly and we are so grateful to have her in our lives. Thank you for
                    all your help!
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Jena Karlis</h3>
                      <h4>Store Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    We adopted our puppy from your organization and he has been such a blessing to our family. He is so
                    playful and full of
                    energy, and we can't wait to watch him grow and learn new things. Thank you for matching us with the
                    perfect pet!
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Matt Brandon</h3>
                      <h4>Freelancer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    We adopted our kitten from your organization and she has been such a joy to have in our home. She is
                    so affectionate and
                    playful, and we are so grateful to have her as a part of our family. Thank you for all your help in
                    finding the perfect
                    pet for us.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>John Larson</h3>
                      <h4>Entrepreneur</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    We adopted our dog from your organization and she has been the perfect addition to our family. She
                    is so well-behaved
                    and loving, and we can't imagine life without her now. Thank you for all the work you do to help
                    animals find their
                    forever homes.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    </section><!-- End Portfolio Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>Introducing our team of skilled web developers - Shivansh, Swati, adarsh, and Abhinav,we are well-equipped to handle any challenges that come their way. Whether it's front-end design or back-end development, they have the skills and expertise to deliver top-quality results. In previous hackathons, we have worked on projects ranging from creating a new social media platform to improving the efficiency of a local non-profit organization's website. We are confident that with their talent and determination, our team will excel in this hackathon and deliver a project that exceeds all expectations.
            </p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="assets/img/team/team-1.jpeg"
                style="width: 305px; height: 346px; object-fit:cover; object-position: top;" alt class="img-fluid"
                alt="">
              <h4>Abhinav Aggrawal</h4>
              <span>Full Stack Development</span>
              <div class="social">
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="assets/img/team/team-2.jpeg"
                style="width: 305px; height: 346px; object-fit:cover; object-position: top;" class="img-fluid" alt="">
              <h4>Swati Gupta</h4>
              <span>Frontend Development</span>
              <div class="social">
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="assets/img/team/team-3.jpeg"
                style="width: 305px; height: 346px; object-fit:cover; object-position: center;" class="img-fluid"
                alt="">
              <h4>Adarsh</h4>
              <span>Frontend Development</span>
              <div class="social">
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="assets/img/team/team-4.jpg"
                style="width: 305px; height: 346px; object-fit:cover; object-position: top;" class="img-fluid" alt="">
              <h4>Shivansh Dhondiyal</h4>
              <span>Full Stack Development</span>
              <div class="social">
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Donation</h2>
          <p>Every donation, no matter how small, can make a big difference in the lives of animals in need. By
            supporting animal welfare organizations and charities, you can help to ensure that all pets have the chance
            to live happy, healthy lives.</p>
        </div>

        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Money</h3>
              <div class="icon">
                <i class="bi bi-cash-coin"></i>
              </div>
              <p>
                Money is important for pet welfare because it allows individuals to provide for their pets' basic needs,
                including food, medical care, and proper living conditions. Without sufficient funds, it may be
                difficult or even impossible to ensure that pets are well cared for, which can lead to neglect or
                mistreatment.
              </p>
              <div class="text-center"><a href="#" class="buy-btn">Donate Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Volunteering</h3>
              <div class="icon">
                <i class="fa-solid fa-handshake"></i>
              </div>
              <p>
                Volunteers play a vital role in pet welfare by dedicating their time and energy to helping animals in
                need. Whether it
                be through working at an animal shelter, fostering pets, or participating in community outreach and
                education efforts,
                volunteers help to ensure that animals receive the care and support they need.
              </p>
              <div class="text-center"><a href="#" class="buy-btn">Join Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Pet Accessories</h3>
              <div class="icon">
                <i class="fa-solid fa-bone"></i>
              </div>
              <p>
                Pet accessories can be important for the welfare of pets in a number of ways. Depending on the specific
                accessory, they
                can help to keep pets safe, comfortable, and healthy. For example, a leash or harness can help to keep a
                pet secure
                while they are out on a walk or in a public place.
              </p>
              <div class="text-center"><a href="#" class="buy-btn">Donate Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
              </p>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    Am I ready for the responsibility of pet ownership?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Pets bring joy to their owners, filling their homes and lives with an abundance of energy and
                    companionship. But it’s also important to recognize pet ownership encompasses more than evening
                    strolls and furry cuddles: It’s a financial and emotional long-term responsibility.

                    Outside of providing food and shelter, pets require routine healthcare and pet insurance, care
                    providers and groomers, supplies, training and more. Delve into the costs, commitment and
                    expectations of responsible pet ownership to determine if having a pet is a good choice for you and
                    your lifestyle.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    Do I need to fill out an application to adopt a pet from your website?

                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Yes! We do require potential adopters to fill out an application as part of the adoption process.
                    This helps us ensure
                    that the animal is going to a good home and that the adopter is prepared for the responsibilities of
                    pet ownership. The
                    application may include questions about your living situation, your experience with pets, and your
                    plans for caring for
                    the animal.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    How do I know if I am eligible to adopt a pet from your website?

                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    We have eligibility requirements for adopting a pet. These requirements may vary, but they are
                    usually in place to
                    ensure that the animal is going to a suitable home and that the adopter is prepared for the
                    responsibilities of pet
                    ownership. Some common eligibility requirements for pet adoption include being over the age of 18,
                    having a stable
                    living situation and sufficient resources to care for a pet, and being able and willing to provide
                    the necessary care
                    and attention for the animal.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    Can I return a pet if it doesn't work out after I adopt it from your website?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    We have policies in place for returning adopted animals if the adoption does not work out. These
                    policies may vary, but
                    they are usually designed to ensure that the animal is placed in a suitable home and to prevent
                    animals from being
                    returned to the shelter unnecessarily. If you are considering adopting a pet and are unsure whether
                    you will be able to
                    provide a suitable home for it, it is important to carefully consider your decision and to be
                    prepared for the
                    responsibilities of pet ownership before proceeding with the adoption.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    5. How do I adopt a pet from your website?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Here is an overview of the steps you may go through when adopting a pet:
                    <br>
                    * Research different types of pets to determine which one is right for you.
                    <br>
                    * Fill out an application to adopt the pet.
                    <br>
                    * Meet with the pet and potentially other members of the household to ensure compatibility.
                    <br>
                    * Pay the adoption fee and sign any necessary paperwork.
                    <br>
                    * Take the pet home and provide it with the necessary care and attention.
                    <br>
                    It is important to carefully consider the responsibilities of pet ownership before proceeding with
                    the adoption process.
                    Owning a pet requires a significant time and financial commitment, and it is important to be
                    prepared for these
                    responsibilities before bringing a new pet into your home.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Pets Section ======= -->
    <section id="pets" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Pets Post</h2>
          <p>These are some posts about some pets made by great content writers and animal lovers</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

<!--               <p class="post-category">Cats</p> -->

              <h2 class="title">
                <a href="/cats">Cats</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Maria Doe</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jan 1, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
              </div>

              <!-- <p class="post-category">Dogs</p> -->

              <h2 class="title">
                <a href="/Dogs">Dogs</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Allisa Mayer</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

<!--               <p class="post-category">Birds</p> -->

              <h2 class="title">
                <a href="/birds">Birds</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Mark Dower</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Thank you for visiting our website. If you have any questions or would like to get in touch with us, please don't hesitate to contact us using the following information.</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>New Delhi, India</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>Mon-Sat: 11AM - 23PM</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>The Pawsitive Pet</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta
            donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>