<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Upload & Store a CSV in MongoDB</h2>
    <a href="/post-a-pet" class="btn">UPLOAD FILE</a>
  </div>
</header>


<%- include('partials/footer'); -%>